[submodule "freedesktop"]
	path = deps/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
[submodule "deps/autorandr"]
	path = deps/autorandr
  # url = https://github.com/phillipberndt/autorandr
	url = https://github.com/aarondill/autorandr # use my fork to fix edid detection
  ignore = untracked  # <====
[submodule "deps/libinput-gestures"]
	path = deps/libinput-gestures
	url = https://github.com/bulletmark/libinput-gestures.git
